<!-- Not in use - edit statistics.html -->

<template>

	<div id="daterange"><h4>${fromYear} - ${toYear} ${selectedSearchTimeframe}</h4></div>
	<div id="librarian-label" if.bind="selectedLibrarian != 'Select a Librarian:'"><h4>${librarianName}</h4></div>
	<br />

	<div id="subsort-select" if.bind="selectedDisplayStatistics != 'All'">
        <label>Select ${selectedDisplayStatistics}</label>
        <select class="form-control" style="margin-bottom: 3em" value.bind="selectedSubsortValue" change.delegate="onChangeSubsortSelect()">
            <option repeat.for="option of subsortValues" name="subsortValue" value.bind="option">${option}</option>
        </select>
    </div>

	<canvas id="results-chart" class="results-chart"></canvas>
	<br />
	<div id="stats-type-label"><h4>${selectedStatisticsType} Statistics <span if.bind="selectedListResultsBy != 'Total'">by ${selectedListResultsBy}</span></h4></div>s
<template>