<template>
	<require from="../../../utils/MonthStringValueConverter"></require>
	<require from="../../../utils/QuarterStringValueConverter"></require>
	<require from="../../../utils/ObjectKeysValueConverter"></require>
	<require from="../../../utils/ObjectValuesValueConverter"></require>
	<require from="../../../utils/SubObjectKeysValueConverter"></require>
	<require from="../../../utils/SubObjectValuesValueConverter"></require>
<!-- 	<require from="../../../utils/SubObjectValueConverter"></require> -->

	<div id="year-results" style="" if.bind="displayYear">

		<h3>Totals:</h3>
		<table class="table results-table">
			<th>${selectedDisplayStatistics}</th><th>Number of Classes</th>
			<tr repeat.for="key of resultData.year | objectKeys">	
				<td>${key}</td><td>${resultData.year[key]}</td>
			</tr>
		</table>
	</div>

	<div id="month-results" style="" if.bind="displayMonth">

		<h3>Month Totals:</h3>
		<div repeat.for="index of resultData.month">
			<h4>${index | monthString}</h4>
			<table class="table results-table">
				<th>${selectedDisplayStatistics}</th><th>Number of Classes</th>
				<tr repeat.for="key of index | subObjectKeys">
					<td>${key}</td><td repeat.for="val of index | subObjectValues:key">${val}</td>
				</tr>
			</table>
		</div>

	</div>

	<div id="quarter-results" style="" if.bind="displayQuarter">

		<h3>Quarter Totals:</h3>
		<div repeat.for="index of resultData.quarter">
			<h4>${index | quarterString}</h4>
			<table class="table results-table">
				<th>${selectedDisplayStatistics}</th><th>Number of Classes</th>
				<tr repeat.for="key of index | subObjectKeys">
					<td>${key}</td><td repeat.for="val of index | subObjectValues:key">${val}</td>
				</tr>
			</table>
		</div>
	</div>

</template>