<template>
	<div><h4>Class Data</h4></div>
	<div id="daterange"><h4>${fromYear} - ${toYear} ${selectedSearchTimeframe}</h4></div>

	<div id="class-data-search-info">
		<div id="class-librarian" if.bind="selectedLibrarian != ''"><h4>${librarianName}</h4></div>
		<div id="class-total"><h4>( ${resultData.length} ${classCountLabel} )</h4></div>
	</div>

	<div id="class-data-results" class="table-responsive section-border" if.bind="!classEditFormVisible">
		<table id="cdr-table" class="table">
			<thead class="thead-default">
				<tr><th width="100px">Librarians</th><th>Department</th><th width="100px">Name</th><th>Date</th><th>Quarter</th><th>Number</th><th>Type</th><th>Instructor</th><th>U</th><th>G</th><th>F</th><th>O</th><th>Location</th><th>ACRL Frameworks</th><th></th></tr>
			</thead>

			<tr repeat.for="index of resultData">
				<!-- <td>${index.department}</td> -->
				<td width="100px"><span repeat.for="librarian of index.associatedLibrarians">${librarian}</span></td>
				<td><span repeat.for="department of index.department">${department}</span></td>
				<td width="100px">${index.courseInfo.name}</td>
				<td>${index.courseInfo.date}</td>
				<td>${index.courseInfo.quarter}</td>
				<td>${index.courseInfo.number}</td>
				<td>${index.type}</td>
				<td>${index.courseInfo.instructor}</td>
				<td>${index.enrollmentInfo.undergraduates}</td>
				<td>${index.enrollmentInfo.graduates}</td>
				<td>${index.enrollmentInfo.faculty}</td>
				<td>${index.enrollmentInfo.other}</td>
				<!-- <td>${index.location}</td> -->
				<td><span repeat.for="location of index.location">${location}</span></td>
				<td><span repeat.for="framework of index.acrlFrame">${framework}</span></td>
				<!-- <td style="white-space: pre">${index.acrlFrame}</td> -->
				<td><button class="list-btn" click.delegate="viewClassComments(index._id)">View Comments</button></td>
				<td if.bind="showClassEditButton"><button class="list-btn" click.delegate="editClassData(index._id)">Edit</button></td>
				<td if.bind="showClassEditButton"><button id="delete-class-button-${index._id}" class="list-btn" click.delegate="deleteClassDataConfirm(index._id)">Delete</button><button id="delete-class-button-confirm-${index._id}" class="list-btn" click.delegate="deleteClassData(index._id)" style="display: none">Confirm</button></td>
			</tr>
		</table>
	</div>

	<div id="dialog" style="display: none">
<!-- 		<h4>Comments</h4> -->
		<h6 if.bind="classComments.length <= 0">There are no comments yet for this course</h6>
		<div id="comment-display" class="section-border">
			<ul>
				<li repeat.for="index of classComments.length">
					<dl>
						<dt>${classComments[index].name}</dt>
						<dd>${classComments[index].text || ""}</dd>
						<dd if.bind="isAdmin()" click.trigger="editComment(index)" class="form-list-edit-link">(Edit)</dd>
					</dl>
				</li>
			</ul>
		</div>
		<br />

		<h4>${commentFormLabel}</h4>
		<form id="comment-form" role="form">
			<div class="form-group">
				<label class="form-label">Name</label>
				<input type="text" class="form-control" value.bind="comment.name">
				<label class="form-label" style="margin-top: 1em">Comment</label>
				<textarea id="comment-input" class="form-control" rows="4" cols="50" value.bind="comment.comment"></textarea>
			</div>
			<button click.delegate="addComment()" if.bind="!editCommentData" class="btn btn-primary">Submit</button>
			<button click.delegate="updateComment()" if.bind="editCommentData" class="btn btn-primary">Update</button>
			<button click.delegate="closeCommentDialog()" class="btn btn-primary">Close</button>
		</form>
	</div>

	<button id="class-edit-hide-form-button" if.bind="classEditFormVisible" class="list-btn" style="margin-bottom: 1em" click.delegate="closeEditForm()">Return to Class List</button>
	<compose id="class-edit-form-section" if.bind="classEditFormVisible" view-model="../../entryform/entryform" model.bind="activeClass"></compose>

</template>