<template>
	<require from="../../../utils/MonthStringValueConverter"></require>
	<require from="../../../utils/QuarterStringValueConverter"></require>
	<require from="../../../utils/ObjectKeysValueConverter"></require>
	<require from="../../../utils/ObjectValuesValueConverter"></require>

	<div id="year-results" if.bind="displayYear">

		<h3>Totals:</h3>
		<table class="table results-table">
			<!-- <th></th><th>Number of Classes</th> -->
			<tr repeat.for="key of resultData.year | objectKeys">	
				<td>Number of Classes</td><td>${resultData.year[key]}</td>
			</tr>
		</table>
	</div>

	<div id="month-results" if.bind="displayMonth">

		<h3>Month Totals:</h3>
		<table class="table results-table">
			<th>Month</th><th repeat.for="key of resultData.year | objectKeys">${key}</th>			<!-- USE model var -->
			<tr repeat.for="index of resultData.month">
				<td>${index | monthString}</td><td>${index | objectValues}</td>
			</tr>
		</table>
	</div>

	<div id="quarter-results" if.bind="displayQuarter">

		<h3>Quarter Totals:</h3>
		<!-- <table class="table results-table">
			<th>Quarter</th><th repeat.for="key of resultData.year | objectKeys">${key}</th>
			<tr repeat.for="key of resultData.quarter | objectKeys">
				<td>${key | quarterString}</td><td>${resultData.quarter[key]}</td>
			</tr>
		</table> -->
		<table class="table results-table">
			<th>Quarter</th><th repeat.for="key of resultData.year | objectKeys">${key}</th>		<!-- USE model var -->
			<tr repeat.for="index of resultData.quarter">
				<td>${index | quarterString}</td><td>${index | objectValues}</td>
			</tr>
		</table>
	</div>

</template>