<template>

	<div id="daterange"><h4>${fromYear} - ${toYear} ${selectedSearchTimeframe}</h4></div>
	<br />

	<div id="class-data-search-info">
		<div id="class-librarian"><h4>${librarianName}</h4></div>
		<!-- <div id="class-year-range"><h4>${fromYear} - ${toYear}</h4></div> -->
		<div id="class-total"><h4>( ${resultData.length} ${classCountLabel} )</h4></div>
	</div>

	<div id="class-data-results" class="table-responsive section-border">
		<table class="table">
			<thead class="thead-default">
				<tr><th>Department</th><th>Name</th><th>Date</th><th>Number</th><th>Type</th><th>Instructor</th><th>U</th><th>G</th><th>F</th><th>O</th><th>Location</th><th>ACRL Frameworks</th><th></th></tr>
			</thead>

			<tr repeat.for="index of resultData">
				<!-- <td>${index.department}</td> -->
				<td><span repeat.for="department of index.department">${department}</span></td>
				<td>${index.courseInfo.name}</td>
				<td>${index.courseInfo.date}</td>
				<td>${index.courseInfo.number}</td>
				<td>${index.type}</td>
				<td>${index.courseInfo.instructor}</td>
				<td>${index.enrollmentInfo.undergraduates}</td>
				<td>${index.enrollmentInfo.graduates}</td>
				<td>${index.enrollmentInfo.faculty}</td>
				<td>${index.enrollmentInfo.other}</td>
				<!-- <td>${index.location}</td> -->
				<td><span repeat.for="location of index.location">${location}</span></td>
				<td><span repeat.for="framework of index.acrlFrame">${framework}</span></td>
				<!-- <td style="white-space: pre">${index.acrlFrame}</td> -->
				<td><button class="list-btn" click.delegate="viewClassComments(index._id)">View Comments</button></td>
				<td if.bind="activeLibrarian == index.associatedLibrarians[0] || showClassEditButton"><button class="list-btn" click.delegate="editClassData(index._id)">Edit</button></td>

				<!-- <td if.bind="1"><button class="list-btn" click.delegate="editClassData(index._id)">Edit</button></td> -->	<!-- DEV -->

			</tr>
		</table>
	</div>

	<div id="class-data-comments" class="section-border" if.bind="showClassComments">
		<span style="float: left"><h4>Comments</h4></span><span style="float: right"><button class="list-btn" click.delegate="hideClassComments()">Hide Comments</button></span>
		<span id="more-comments-note" class="form-note">( Scroll down to see more comments )</span>
		<div id="comment-display" class="section-border">
			<ul>
				<li repeat.for="index of classComments">
					<dl>
						<dt>${index.name}</dt>
						<dd>${index.text || ""}</dd>
					</dl>
				</li>
			</ul>
		</div>
		<br />

		<h4>Add Comment</h4>
		<form id="comment-form" role="form">
			<div class="form-group">
				<label class="form-label">Name</label>
				<input type="text" class="form-control" value.bind="comment.name">
				<label class="form-label" style="margin-top: 1em">Comment</label>
				<textarea id="comment-input" class="form-control" rows="4" cols="50" value.bind="comment.comment"></textarea>
			</div>
			<button click.delegate="addComment()" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<button if.bind="showClassEditForm" class="list-btn" style="margin-bottom: 1em" click.delegate="hideClassEditForm()">Hide Form</button>
	<compose id="class-edit-form-section" if.bind="showClassEditForm" view-model="../../entryform/entryform" model.bind="activeClass"></compose>

</template>