<template>
	<require from="../../../utils/MonthStringValueConverter"></require>
	<require from="../../../utils/QuarterStringValueConverter"></require>
	<require from="../../../utils/ObjectKeysValueConverter"></require>
	<require from="../../../utils/ObjectValuesValueConverter"></require>
	<require from="../../../utils/SubObjectValuesValueConverter"></require>

	<div id="daterange"><h4>${fromYear} - ${toYear} ${selectedSearchTimeframe}</h4></div>
	<div id="stats-type-label"><h4>${selectedStatisticsType} Statistics</h4></div>
	<br />

	<div id="year-results" style="" if.bind="displayYear">

		<!-- <h4>Totals:</h4> -->
		<table class="table results-table">
			<th>Student Type</th><th>Number of Students</th>
			<tr repeat.for="key of resultData.year | objectKeys">	
				<td>${key}</td><td>${resultData.year[key]}</td>			
			</tr>
			<tr style="font-weight: bold">
				<td>Total</td><td>${resultData.yearTotals.studentTotals}</td>
			</tr>
		</table>
	</div>

	<div id="month-results" style="" if.bind="displayMonth">

		<!-- <h4>Month Totals:</h4> -->
		<table class="table results-table">
			<th>Month</th><th repeat.for="key of resultData.year | objectKeys">${key}</th>			<!-- USE model var -->
			<tr repeat.for="index of resultData.month">
				<td>${index | monthString}</td><td repeat.for="val of index | subObjectValues">${val}</td>
			</tr>
		</table>
	</div>

	<div id="quarter-results" style="" if.bind="displayQuarter">

		<!-- <h4>Quarter Totals:</h4> -->
		<table class="table results-table">
			<th>Quarter</th><th repeat.for="key of resultData.year | objectKeys">${key}</th>			<!-- USE model var -->
			<tr repeat.for="index of resultData.quarter">
				<td>${index | quarterString}</td><td repeat.for="val of index | subObjectValues">${val}</td>
			</tr>
		</table>
	</div>

</template>