<template>
	<require from="../../../utils/MonthStringValueConverter"></require>
	<require from="../../../utils/QuarterStringValueConverter"></require>
	<require from="../../../utils/ObjectKeysValueConverter"></require>
	<require from="../../../utils/ObjectValuesValueConverter"></require>
	<require from="../../../utils/SubObjectKeysValueConverter"></require>
	<require from="../../../utils/SubObjectValueConverter"></require>
	<require from="../../../utils/SubObjectValuesValueConverter"></require>
	<require from="../../../utils/SubsortTotalsValueConverter"></require>

	<div id="daterange"><h4>${fromYear} - ${toYear} ${selectedSearchTimeframe}</h4></div>
	<div id="stats-type-label"><h4>${selectedStatisticsType} Statistics</h4></div>
	<br />

	<div id="year-results" style="" if.bind="displayYear">

		<!-- <h4>Totals:</h4> -->
		<table class="table results-table">
			<th>${selectedDisplayStatistics}</th><th repeat.for="key of resultData.year | subObjectKeys">${key}</th><th>Total</th>
			<tr repeat.for="key of resultData.year | objectKeys">	
				<td>${key}</td><td repeat.for="subkey of resultData.year[key] | objectValues">${subkey}</td><td>${resultData.yearTotals.allStudents[key]}</td>
			</tr>
			<tr>
				<td style="font-weight: bold">Total</td><td repeat.for="val of resultData.yearTotals.studentTotals | objectValues">${val}</td>
			</tr>
		</table>
	</div>

	<div id="month-results" style="" if.bind="displayMonth">

		<!-- <h4>Month Totals:</h4> -->
		<div repeat.for="index of resultData.month">
			<h4>${index | monthString}</h4>
			<table class="table results-table">
				<th>${selectedDisplayStatistics}</th><th repeat.for="val of studentTypes">${val}</th><th>Total</th>
				<tr repeat.for="key of index | subObjectKeys">
					<td>${key}</td><td repeat.for="val of index | subObjectValues:key">${val}</td><td>${resultData.monthTotals.allStudents | subsortTotals:index:key}</td>
				</tr>
				<tr>
					<td style="font-weight: bold">Total</td><td repeat.for="val of resultData.monthTotals.studentTotals | subsortTotals:index | objectValues">${val}</td>
				</tr>
			</table>
		</div>
	</div>

	<div id="quarter-results" style="" if.bind="displayQuarter">

		<!-- <h4>Quarter Totals:</h4> -->
		<div repeat.for="index of resultData.quarter">
			<h4>${index | quarterString}</h4>
			<table class="table results-table">
				<th>${selectedDisplayStatistics}</th><th repeat.for="val of studentTypes">${val}</th><th>Total</th>
				<tr repeat.for="key of index | subObjectKeys">
					<td>${key}</td><td repeat.for="val of index | subObjectValues:key">${val}</td><td>${resultData.quarterTotals.allStudents | subsortTotals:index:key}</td>
				</tr>
				<tr>
					<td style="font-weight: bold">Total</td><td repeat.for="val of resultData.quarterTotals.studentTotals | subsortTotals:index | objectValues">${val}</td>
				</tr>
			</table>
		</div>
	</div>

</template>