<template>
    <require from="../../utils/StringCapitalFirstValueConverter"></require>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div id="admin-menu">
                <h4>Edit Data:</h4>
                <ul>
                    <li><a click.delegate="getUserList()">Users</a></li>
                    <li><a click.delegate="showPropertyList('location')">Locations</a></li>
                    <li><a click.delegate="showPropertyList('department')">Departments</a></li>
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div if.bind="activeSession" style="float: right; margin-bottom: 0.7em; margin-top: 0.8em; margin-right: 5%">
                <span id="user-string">Welcome, ${username}</span><span><a click.delegate="utils.logout()" style="cursor: pointer; margin-left: 0.3em">Logout</a></span>
            </div>

            <div class="container-fluid">
                <!-- <h2 class="view-header">Statistics</h2> -->
                <div class="row">
                    <div id="user-data-section" class="col-lg-12">

                        <div id="user-data-table" class="table-responsive view-section">
                            <div class="data-form-header"><h4>Users</h4><button class="list-btn section-header-button" click.delegate="addUser()" style="float: right"><strong> + </strong>Add User</button></div>
                            <div class="data-table-wrapper">
                            <table class="table" id="user-data-table">
                                <tr>
                                    <!-- <th>Username</th> --><th>First Name</th><th>Last Name</th><th>Role</th><th>DUID</th><th></th><th></th>
                                </tr>
                                <tr class="" id="" repeat.for="user of users">
                                    <!-- <td>${user.username}</td> --><td>${user.firstname}</td><td>${user.lastname}</td><td>${user.role}</td><td>${user.duid}</td><td><button class="list-btn" click.delegate="editUser(user._id)">Edit</button></td><td><button class="list-btn" click.delegate="removeUser(user._id)">Remove</button></td>
                                </tr>
                            </table>
                            </div>
                        </div>

                        <div id="user-data-form" class="data-input-form view-section">
                        	<div class="data-form-header"><h4 class="user-data-form-label">${propOperation} user:</h4></div>
                            <form class="">
                                <label>First Name:</label>
                                <input class="form-control" type="text" value.bind="userData.firstname" placeholder="First Name">
                                <label>Last Name:</label>
                                <input class="form-control" type="text" value.bind="userData.lastname" placeholder="Last Name">
                                <label>Role:</label>
                                <select class="form-control" style="width: 70%" value.bind="userData.role" placeholder="Role">
                                    <option repeat.for="role of roles">${role}</option>
                                </select>
                                <label>DUID:</label>
                                <input class="form-control" type="text" value.bind="userData.duid" placeholder="DUID">
                                <button class="btn" click.delegate="showDataForm(false)">Cancel</button>
                                <button class="btn" click.delegate="submitUserData()">Submit</button><span class="message" style="margin-left: 3em; margin-top: 1em"></span>
                            </form>
                        </div>

                    </div>

                    <div id="property-data-section" class="col-lg-12">

                        <div id="property-data-table" class="table-responsive view-section">
                            <div class="data-form-header"><h4>${propData.type | stringCapitalFirst}s</h4><button class="list-btn section-header-button" click.delegate="addProperty(propData.type)" style="float: right"><strong> + </strong>Add ${propData.type}</button></div>
                            <table class="table" id="user-data-table">
                                <tr>
                                    <th>Name</th><th>Active</th><th></th><th></th>
                                </tr>
                                <tr class="" id="" repeat.for="property of properties">
                                    <!-- <td>${user.username}</td> --><td>${property.name}</td><td>${property.isActive}</td><td><button class="list-btn" click.delegate="editProperty(property.type, property.id)">Edit</button></td><td><button class="list-btn" click.delegate="removeProperty(property.type, property.id)">Remove</button></td>
                                </tr>
                            </table>
                        </div>

                        <div id="property-data-form" class="data-input-form view-section">
                            <div class="data-form-header"><h4 class="user-data-form-label">${propOperation} ${propData.type}:</h4></div>
                            <form class="">
                                <label>Name:</label>
                                <input class="form-control" type="text" value.bind="propData.name" placeholder="">
                                <label>Active:</label>
                                <select class="form-control" style="width: 70%" value.bind="propData.isActive" placeholder="Role">
                                    <option repeat.for="option of propActive">${option}</option>
                                </select>
                                <button class="btn" click.delegate="showDataForm(false)">Close</button>
                                <button class="btn" click.delegate="submitPropertyData(propData.type)">Submit</button><span class="message" style="margin-left: 3em; margin-top: 1em"></span>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>