<template>
<require from="../../utils/datepicker"></require>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <form id="search-options">
                <label>Get Statistics:</label>
                <select class="form-control" value.bind="selectedVal">
                    <option repeat.for="option of searchType" value.bind="option">${option}</option>
                </select>


            </form>











<!--             <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Search Options
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul> -->
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <h3>Get Statistics</h3> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
<!--     <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
 -->
</template>