<template>
<require from="../../../libs/datepicker"></require>
<require from="../../utils/ObjectKeysValueConverter"></require>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div id="search-options">

                <div id="search-type">
                    <label>Search Type:</label>
                    <select class="form-control" value.bind="selectedSearchType" change.delegate="onChangeSearchType()">
                        <option repeat.for="option of searchType" name="searchType" value.bind="option">${option}</option>
                    </select>
                </div>

                <label style="margin-top:2em">Search Time Period:</label>
                <div class="form-section">
                    <label class="radio-select" repeat.for="option of searchTimeframe">
                        <input type="radio" class="" value.bind="option" name="searchTimeframe" checked.bind="$parent.selectedSearchTimeframe" change.delegate="onChangeQuarterTimePeriod()">${option}
                    </label>
                </div>

            </div>

            <div id="result-options">

                <label>For:</label>
                <div class="form-section">
                    <label class="radio-select" repeat.for="option of statisticsType">
                        <input type="radio" class="" value.bind="option" name="statsType" checked.bind="$parent.selectedStatisticsType" change.delegate="submitForms()">${option}
                    </label>
                </div>

                <label>Show Results By:</label>
                <div class="form-section">
                    <label class="radio-select" repeat.for="option of listResultsBy" id="${option}-option">
                        <input type="radio" class="" value.bind="option" name="statsBy" checked.bind="$parent.selectedListResultsBy" change.delegate="onChangeListResultsBy()">${option}
                    </label>
                </div>

                <label>Display Statistics By:</label>
                <div class="form-section">
                    <label class="radio-select" repeat.for="option of displayStatistics">
                        <input type="radio" class="" value.bind="option" name="statsDisplay" checked.bind="$parent.selectedDisplayStatistics" change.delegate="submitForms()">${option}
                    </label>
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div if.bind="activeSession" style="float: right; margin-bottom: 0.7em; margin-top: 0.8em; margin-right: 5%">
                <span id="user-string">Welcome, ${username}</span><span><a click.delegate="utils.logout()" style="cursor: pointer; margin-left: 0.3em">Logout</a></span>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div id="post-search-options">
                            <button type="button" id="new-search" class="btn btn-default" click.delegate="newSearch()">New Search</button>
                            <button type="button" id="export-data" class="btn btn-default au-target" click.delegate="exportData()" au-target-id="87">Save to PDF</button>
                            <div id="disp-select">
                                <label class="radio-select" repeat.for="format of displayFormats">
                                    <input type="radio" value.bind="format" name="displayFormat" checked.bind="$parent.displayFormat" change.delegate="onChangeDisplayFormat()">${format}
                                </label>
                            </div>
                        </div>
                        
                        <form id="statistics-search" role="form">

                            <div class="search-input-group">
                                <div id="year-date-select">
                                    <label>Select Date Range:</label><br />
                                    <div class="form-section" style="display: inline-flex">
                                        <label>From:</label>
                                        <select class="form-control" style="margin-left: 10px" value.bind="fromYear" change.delegate="onChangeFromYear()">
                                            <option repeat.for="year of fromYears" value.bind="year">${year}</option>
                                        </select>

                                        <label style="margin-left: 2em">To:</label>
                                        <!-- <input class="form-control" id="to-date-select" type="text" value.bind="toYear" placeholder = ""> -->
                                        <select class="form-control" style="margin-left: 10px" value.bind="toYear" id="toYearSelect">
                                            <option repeat.for="year of toYears" value.bind="year">${year}</option>
                                        </select>
                                    </div>
                                </div>

                                <div id="year-quarter-select">
                                    <label>Select Quarter:</label>
                                    <div class="form-section" style="display: inline-flex">
                                        <label>Academic Year:</label><br />
                                        <input class="form-control" id="academic-year-select" style="margin-left: 10px" type="text" value.bind="fromYear" placeholder = "">
                                        <label style="margin-left: 2em">Quarter:</label><br />
                                        <select class="form-control" style="margin-left: 10px" value.bind="selectedQuarter">
                                            <option repeat.for="option of quarters" name="quarter" value.bind="option">${option}</option>
                                        </select>
                                    </div>
                                </div>

                                <div id="librarian-select">
                                    <label>Select a Librarian:</label><br />
                                    <div class="form-section" style="display: inline-flex; width: 100%">
                                        <select class="form-control" value.bind="selectedLibrarian" id="librarian-select-input">
                                            <option selected id="librarian-placeholder" value.bind="null">Select a Librarian:</option>
                                            <option repeat.for="librarian of librarianList" class="librarian-option" value.bind="librarian.id">${librarian.name}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <button type="button" id="statistics-submit" class="btn btn-default" click.delegate="submitForms()">Get Statistics</button>
                        </form>

                        <div id="results-section">
                            <compose if.bind="displayResults" view="./partials/${currentTable}.html"></compose>
                        </div>

                        <div id="chart-section">
                            
                            <div id="daterange"><h4>${fromYear} - ${toYear} ${selectedSearchTimeframe}</h4></div>
                            <div id="stats-type-label"><h4>${selectedStatisticsType} Statistics <span if.bind="selectedListResultsBy != 'Total'">by ${selectedListResultsBy}</span></h4></div>
                            <div id="librarian-label" if.bind="selectedLibrarian != 'Select a Librarian:'"><h4>${librarianName}</h4></div>
                            <br />

                            <div id="subsort-select" if.bind="selectedDisplayStatistics != 'All'">
                                <label>Select ${selectedDisplayStatistics}</label>
                                <select class="form-control" style="margin-bottom: 3em" value.bind="selectedSubsortValue" change.delegate="onChangeSubsortSelect()">
                                    <option repeat.for="option of subsortValues" name="subsortValue" value.bind="option">${option}</option>
                                </select>
                            </div>

                            <canvas id="results-chart" class="results-chart"></canvas>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>