
<template>
<require from="../../utils/datepicker"></require>

		<div id="entry-form" class="ir-container">

			<!-- <h3>Entry Form</h3> -->
			<form role="form" id="entryForm" submit.delegate="submit()">

			  <div class="form-group" id="class-info-group">

			  	<section class="class-info">
			  	  <div class="input-group">
				  	  <label class="form-label" for="classDate">Class Date:</label>
	       			  <!-- <input class="form-control" id="date-select" type="text" value.bind="classDate" placeholder = "">	 -->		<!-- Onclick - date widget -->
	       			  <input datepicker class="form-control" id="date-select" type="text" value.bind="classDate" placeholder = "">
       			  </div>

       			  <div class="input-group" id="quarter-select" style="">
	       			  <label class="form-label" for="quarterSelect">Quarter:</label>
	       			  <select class="form-control" value.bind="quarterSelect">
				        <option repeat.for="quarter of quarters" value.bind="quarter">${quarter}</option>
				      </select>
			      </div>
			      <br style="clear:both;" />
       			</section>

       			<section class="class-info" style="margin-top: 20px">
       			  <div class="input-group">
				  	  <label class="form-label" for="className">Class Name:</label>
	       			  <input class="form-control" type="text" value.bind="className" placeholder = "">
       			  </div>	

       			  <div class="input-group">
	       			  <label class="form-label" for="courseNumber">Course Number:</label>
	       			  <input class="form-control" type="text" value.bind="courseNumber" placeholder = "">
       			  </div>

       			  <div class="input-group" id="instructor-input">
	       			  <label class="form-label" for="instructorName">Instructor Name:</label><br />
	       			  
	       			  	<input class="form-control" type="text" value.bind="instructorFName" placeholder = "First">
	       			  	<input class="form-control" type="text" value.bind="instructorLName" placeholder = "Last">
	       			 
       			  </div>
       			  <br style="clear:both;" />		
       			</section>

		      </div>

		      <div class="form-group" id="course-enrollment-group">
		     
		      	<section id="student-count">
			      	<div class="inline-group">
			      	  <label class="form-label" for="numGraduates">Number of Graduates:</label>
	       			  <input class="form-control" type="text" value.bind="numGraduates" placeholder = "">
	       			</div>

	       			<div class="inline-group">
	       			  <label class="form-label" for="numUndergraduates">Number of Undergraduates:</label>
	       			  <input class="form-control" type="text" value.bind="numUndergraduates" placeholder = "">
	       			</div>

	       			<div class="inline-group">
	       			  <label class="form-label" for="numFacultyStaff">Number of Faculty/Staff:</label>
	       			  <input class="form-control" type="text" value.bind="numFacultyStaff" placeholder = "">
	       			</div>

	       			<div class="inline-group">
	       			  <label class="form-label" for="numOther">Number of "Other":</label>
	       			  <input class="form-control" type="text" value.bind="numOther" placeholder = "">
	       			</div>
       			</section>
       			<section id="class-type">
		      		<div class="checkbox-group">
				        <label>Select class type:</label>
				      	<label class="checkbox-text" repeat.for="type of classTypes">${type}<input type="checkbox" checked.bind="selectedClassTypes[type]"></label>
				    </div>
		      	</section>
       			<br style="clear:both;" />
		      </div>

		      <div class="form-group select-group" id="properties-select-group">
			      <div class="input-group dynamic-select">
			      	  <label for="librarian-select">Librarian:</label>
			      	  <span id="librarian-add" class="click-span add-input" style="visibility: hidden; float: right;" click.delegate="addLibrarian()">+ Add another librarian</span>

				      <div repeat.for="i of librarianCount">
					      <select id="librarian-select-${i+1}" change.trigger="selectOption('librarian')" class="form-control single-dropdown" value.bind="selectedLibrarians[i]">
					        <option selected hidden>Select a Librarian:</option>
					        <option repeat.for="librarian of librarianList" value.bind="librarian.name"> ${librarian.name} </option>
					      </select>
					      <div if.one-time="i==0" class="click-span" style="">&nbsp</div>
<!-- 					      <div if.one-time="i>=1" class="click-span remove-button" click.trigger="removeLibrarian(i)">Remove</div> -->
							<button if.one-time="i>=1" class="btn btn-danger remove-button" click.trigger="removeLibrarian(i)"><span>X</span></button>
				      </div>

				  </div>

			      <div class="input-group dynamic-select">
			        <label for="location-select">Location:</label>
			      	<span id="location-add" class="click-span add-input" style="visibility: hidden; float: right;" click.delegate="addLocation()">+ Add another location</span>

			      	<div repeat.for="i of locationCount">
				      	<select id="location-select-${i+1}" change.trigger="selectOption('location')" class="form-control single-dropdown" value.bind="selectedLocations[i]">
				      	  <option selected hidden>Select a Location:</option>
					      <option repeat.for="location of locationList" value.bind="location.name"> ${location.name} </option>
					    </select>
					    <div if.one-time="i==0" class="click-span" style="">&nbsp</div>
					    <!-- <div if.one-time="i>=1" class="click-span remove-button" click.trigger="removeLocation(i)">Remove</div> -->
					    <button if.one-time="i>=1" class="btn btn-danger remove-button" click.trigger="removeLocation(i)"><span>X</span></button>
				    </div>
				  </div>

			      <div class="input-group dynamic-select">
			        <label for="department-select">Department:</label>
			      	<span id="department-add" class="click-span add-input" style="visibility: hidden; float: right;" click.delegate="addDepartment()">+ Add another department</span>

					<div repeat.for="i of departmentCount">
				      	<select id="department-select-${i+1}" change.trigger="selectOption('department')" class="form-control single-dropdown" value.bind="selectedDepartments[i]">
				      	  <option selected hidden>Select a Department:</option>
					      <option repeat.for="department of departmentList" value.bind="department.name"> ${department.name} </option>
					    </select>
					    <div if.one-time="i==0" class="click-span" style="">&nbsp</div>
					    <!-- <div if.one-time="i>=1" class="click-span remove-button" click.trigger="removeDepartment(i)">Remove</div> -->
					    <button if.one-time="i>=1" class="btn btn-danger remove-button" click.trigger="removeDepartment(i)"><span>X</span></button>
				    </div>
				  </div>
		      </div>

<!-- 		      <div class="form-group" id="classtype-select-group">
		      	<span id="add-classType" class="click-span" style="visibility: hidden" click.delegate="addClassType()">+ Add another class type</span>
		      	<select repeat.for="i of classTypeCount" click.delegate="selectOption('add-classType')" id="classType-select" class="form-control" value.bind="selectedClassTypes[i]">
		      	  <option selected hidden>Select a Class Type:</option>
			      <option repeat.for="classType of classTypeList" value.bind="classType.id"> ${classType.name} </option>
			    </select>
		      </div> -->

		      <div class="form-group checkbox-group">
		        <label>Select ACRL framework(s):</label>
		      	<label class="checkbox-text" repeat.for="frame of acrlFrames">${frame}<input type="checkbox" checked.bind="selectedAcrlFrames[frame]"></label>
		      </div>

		      <div class="form-group" id="comments">
		        <div class="input-group">
		      	  <label class="form-label" for="commentText">Comments:</label>
		      	  <textarea value.bind="commentText"></textarea>
		      	</div>
		      	<br style="clear:both;" />
		      </div>

		      <button type="submit" class="btn btn-default">Save</button>
		   	</form>
	   	</div>
</template>

