<template>
  <section class="au-animate">
    <h2>${heading}</h2>
    <form role="form" submit.delegate="login()" id="login-form" class="login">
      <div class="form-group">
        <label>DUID</label>
        <input type="text" value.bind="userName" class="form-control" placeholder="Username" style="margin-bottom: 1.5em" id="username-input">
        <label>Password</label>
        <input type="password" value.bind="passWord" class="form-control" placeholder="Password" id="password-input">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
      <span class="message" style="margin-left: 3em"></span>
    </form>

    <form role="form" submit.delegate="verifyLastname()" id="lname-verify-form" class="login" style="display:none">
      <div class="form-group">
        <h4>First time login: Please enter your last name for verification</h4>
        <label>Last Name</label>
        <input type="text" value.bind="lastName" class="form-control" placeholder="Last Name" style="margin-bottom: 1.5em" id="lname-input">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <span class="message" style="margin-left: 3em"></span>
    </form>
  </section>
</template>