<template>
  <section class="au-animate">
    <h2>${heading}</h2>
    <form role="form" submit.delegate="login()" id="login-form">
      <div class="form-group">
        <label>DUID</label>
        <input type="text" value.bind="userName" class="form-control" placeholder="Username">
        <label>Password</label>
        <input type="password" value.bind="passWord" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
  </section>
</template>