* {
    /*position: relative;*/
}

body {
	color: #444 !important;
	font-size: 1em;
}

input {
	width: 55px;
}

input, label, select {
    display:block;
}

#wrapper {
	background-color: #f8f8f8;
}

#page-content-wrapper {
	background-color: white;
}

.view-header {
	margin-bottom: 1.7em !important;
}

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

.navbar {
	margin-bottom: 0 !important;
}

#menubar {
	background-color: #d8d8d8;
}

div#du-red-header-inner {
	background-color: #8b2332;
	height: 50px;
	margin: auto;
	width: 99.5%;
}

span#du-logo {
	margin-top: 5px;
}

span#du-logo a img {
	height: 38px;
	width: 133px;
	margin-top: 5px;
	margin-left: 5px;
}

span#app-title {
	position: relative;
	left: 1.7em;
	top: 0.3em;
	font-size: 1.2em;
	color: white;
}

router-view > h3 {
	margin-left: 2em;
}

div#menu-links {
	width: 73%;
	padding-top: 1em;
}

div#menu-links > span a {
	padding-right: 2em;
	font-size: 16px;
	color: #181818;
	text-decoration: none;
}

div.ir-container {
	width: 73%;
}

.form-control {
	font-size: 1em !important;
}

div#entry-form {
	/*width: 73%;*/
    margin: 3em auto;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e3e1;
    padding: 1.5em;
    border-radius: 7px;
}

div#entry-form > h3 {
	margin-top: 0.8em;
	padding-bottom: 1em;
}

/*input#date-select {
	width: 100px;
}*/

button.btn {
	color: #222;
	background-color: #e5e3e1;
}

div#ui-datepicker-div {
	position: absolute;
	top: 23% !important;
	left: 25% !important;
}

div.input-group {
	float: left;
	margin-top: 1em;
	margin-left: 20px;
	width: 30%;
}

div.search-input-group {
	width: 30%;
}

section#student-count {
	display: grid;
}

section#student-count > .inline-group > input {

	position: relative;
	left: 10px;
	width: 55px;
}

#quarter-select {
	width: 23%;
}

div.input-group > input,
div.input-group > select {
	margin-left: 0.6em;
	width: 90% !important;
}

div.select-group {
	height: 145px;
}

div.select-group div select {
	width: 68% !important;
}

/*span#add-librarian {
	color: #3DBDF3;
	margin-right: 1.5em;
}*/

div#instructor-input input {
	width: 40% !important;
}

div.inline-group {
	/*display: block;*/
	height: 50px;
}

div.inline-group input {
	float: right !important;
	display: inline;
}

div.form-group.checkbox-group {
	padding-left: 2.5em;
}

div.form-group.checkbox-group > label.checkbox-text {
	margin-left: 0.6em;
}

div#course-enrollment-group {
	padding-left: 1.9em;
	padding-right: 9em;
	/*padding-bottom: 0;*/
}

div#course-enrollment-group input {
	/*width: 55px;*/
	margin-left: 0.7em;
}

div#course-enrollment-group > div.input-group {
	/*width: 25%;*/
	/*float: left;*/
}

div#properties-select-group {
	height: auto;
	overflow: auto;
}

div#properties-select-group > div.input-group {
	width: 30%;
}

div.dynamic-select > div > select {
	margin-bottom: 0.8em !important;
}

div#course-enrollment-group label {
	margin-top: 0.4em;
}

div.form-group {
	background-color: #f8f8f8;
	padding: 3em 0;
}

div.form-group > button {
	float: right;
}

.click-span {
	cursor: pointer;
	color: #0074BD;
}

span.add-input {
	margin-right: 5px;
}

select.single-dropdown {
	width: 25%;
	margin: 0 1.7em;
}

section#student-count {
	width: 27%;
	float: left;
}

section#class-type {
	width: 73%;
	float: left;
	padding-left: 6.6em;
}

div#course-enrollment-group div input {
	/*width: 4em !important;*/
}

div.checkbox-group > * {
	display: block;
}

label.checkbox-text {
	font-weight: 300;
}

div.checkbox-group label input {
	float: left;
}

div#comments div {
	width: 70%;
}

div#comments div textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

button.remove-button {
/*	margin-top: 2em;
	padding-top: 0.6em;
	color: red;*/
	position: relative;
	top: 25px;
}

button#statistics-submit {
	margin-top: 2em;
}

.btn-danger {
	color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

div#sidebar-wrapper {
	padding: 28px;
}

div#search-type {
    margin-top: 2.5em;
}

label.radio-select {
	display: inline-flex;
}

div.form-section {
    border-style: solid;
    border-color: #e5e3e1;
    border-width: 1px;
    border-radius: 6px;
    padding: 15px 10px 10px 10px;
}

div#month-results div,
div#quarter-results div {
	border-style: solid;
    border-color: #e5e3e1;
    border-radius: 3px;
    padding: 0.8em;
    margin-top: 2em;
    width: 50%;
}

div#chart-section,
div#results-section {
	margin-top: 5em;
    margin-left: 3.5em;
}

input#from-date-select,
input#to-date-select {
	width: 30%;
	margin-left: 1em;
}

table.results-table {
	width: 65%;
	margin-top: 2em;
	margin-left: 2em;
}

canvas.results-chart {
	width: 50% !important;
    height: 350px !important;
}

div#subsort-select {
	width: 20%;
}

div#legend {
	margin-top: 2em;
}

div#year-date-select,
button#statistics-submit {
	margin-top: 3em;
	margin-left: 1.8em;
}

div#result-options > label {
	margin-top: 2em;
}

div#post-search-options {
	margin-top: 2em;
	margin-left: 2em;
}

div#month-results div table {
	width: 90%;
}

div#class-total {
	margin-top: 3em;
}

div#librarian-select {
	margin-left: 1.8em;
    margin-top: 1em;
}


@media only screen and (min-width: 1600px) {
	section#class-type {
		padding-left: 6.9em;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	div.ir-container {
		width: 80%;
	}
	div.select-group div select {
		width: 63% !important;
	}

	section#student-count {
		width: 28%;;
	}

	section#class-type {
		width: 72%;
		padding-left: 6em;
	}
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
	div.ir-container {
		width: 82%;
	}
	div.select-group div select {
		width: 63% !important;
	}

	div.input-group {
		margin-left: 20px;
	}

	div.input-group > input,
	div.input-group > select {
		margin-left: 0.6em;
		width: 80% !important;
	}

	section#student-count {
		width: 30%;
	}

	section#class-type {
		width: 70%;
		padding-left: 4.6em;
	}



	div#month-results div,
	div#quarter-results div {

	    width: 72%;
	}

	canvas.results-chart {
		width: 67% !important;
	    height: 350px !important;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) { 

	div.ir-container {
		width: 88%;
	}
	div.select-group div select {
		width: 63% !important;
	}

	div.input-group {
		margin-left: 18px;
	}

	div.input-group > input,
	div.input-group > select {
		margin-left: 0.6em;
		width: 80% !important;
	}

	section#student-count {
		width: 32%;
	}

	section#class-type {
		width: 68%;
		padding-left: 3.2em;
	}


	div#month-results div,
	div#quarter-results div {

	    width: 72%;
	}

	canvas.results-chart {
		width: 55% !important;
	    height: 350px !important;
	}
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) { 

	div.ir-container {
		width: 95%;
	}
	div.select-group div select {
		width: 63% !important;
	}


	div.input-group > input,
	div.input-group > select {
		margin-left: 0.6em;
		width: 75% !important;
	}

	section#student-count {
		width: 32%;
	}

	section#class-type {
		width: 68%;
		padding-left: 3.4em;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1099px) { 

/*	body {
		font-size: 14px !important;
	}*/

	div.ir-container {
		width: 95%;
	}
	div.select-group div select {
		width: 60% !important;
	}


	div.input-group > input,
	div.input-group > select {
		margin-left: 0.6em;
		width: 75% !important;
	}

	section#student-count {
		width: 35.5%;
	}

	section#class-type {
		width: 64.5%;
		padding-left: 15em;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) { 

	body {
		font-size: 12px !important;
	}

	div.ir-container {
		width: 99%;
	}
	div.select-group div select {
		width: 63% !important;
		font-size: 10px;
	}

	section#student-count {
		width: 40%;
	}

	section#class-type {
		width: 45%;
		padding-left: 8em;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 
	body {
		font-size: 9px !important;
	}

	div#du-red-header-inner {
		height: 30px;
	}

	span#du-logo a img {
	    margin-top: 4px;
	    margin-left: 0px;
	}

	div.ir-container {
		width: 99%;
	}

	div.input-group input, 
	div.input-group select,
	div.inline-group input {
		height: 26px;
	}
/*
	div#course-enrollment-group input {
		width: 25px;
	}*/

	div#properties-select-group > div.input-group {
		width: 70%;
	    margin-left: 10px;
	}

	div.select-group div select {
		
		font-size: 10px;
		display: block;
	}

	section#student-count {
		width: 53%;
	}

	section#class-type {
	    display: block;
	    padding-left: 4em;
	    width: 47%;
	    float: left;
	}
}

@media only screen and (max-width: 615px) {
	div#instructor-input {
		margin-top: 18px;
	}
}

@media only screen and (min-width: 550px) and (max-width: 768px) { 
	section#student-count {
		width: 45%;
	}
	section#class-type {
	    width: 47%;
	    padding-left: 8em;
	}
}

@media only screen and (min-width: 320px) and (max-width: 630px) {
	div.input-group {
		width: 70%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) { 
	body {
		font-size: 9px !important;
	}

	span#app-title {
		font-size: 1.5em;
		top: 1em;
	}

	div.ir-container {
		width: 99%;
	}

	/*div.input-group {
		width: 70%;
	}*/

	div.input-group input, 
	div.input-group select,
	div.inline-group input {
		height: 26px;
	}
/*
	div#course-enrollment-group input {
		width: 25px;
	}*/

	div#course-enrollment-group {
	    padding-right: 0;
	    /* padding-bottom: 0; */
	}

	div#properties-select-group > div.input-group {
		width: 70%;
	    margin-left: 10px;
	}

	div.select-group div select {
		
		font-size: 10px;
		display: block;
	}

	section#student-count {
		width: 55%;
	}
	section#class-type {
	    /*width: 47%;*/
	    width: 70%;
	    padding-left: 8em;
	}

	section#class-type {
		display: block;
		padding-left: 0;
	}
}

/* Special adjustments: */
@media only screen and (min-width: 320px) and (max-width: 960px) { 
	input {
		margin-top: 1px !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 767px) { 
	span#du-logo {
	    margin-left: 3px;
	}

	span#du-logo a img {
		width: 80px;
		height: 22px;
	}

	span#app-title {
		/*top: 0.9em;*/
	}

	div#quarter-select > select {
		font-size: 10px;
	/*	width: 100% !important;*/
	}

	section#student-count > .inline-group > input {
		width: 100%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 366px) { 
	section#student-count {
		width: 70%;
	}
}
/* End Special adjustments: */





